$theme-colors: (
        primary: #8C4843,
        secondary: #746D75,
        success: #60992D,
        info: #009FFD,
        warning: #FFA400,
        danger: #B5342B,
        light: #EDE6F2,
        dark: #30343F
);

// Keep it at last
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import "../../node_modules/bootstrap/scss/variables";
